header{
  background: #0C002B;
  color: white;
  //Lets us see the background
  overflow: auto;
  padding: 10px 10px;

  .logo {
    float: left;
    font-size: 1.1rem;
    background: $burgundy;
    padding: 12px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    transition: background 0.3s ease-in-out;
    &:hover{
      background: $burgundyHover;
      text-decoration: none;
    }
    i{
      padding-right: 5px;
      font-size: 1.3rem;
    }
  }

  nav {
    float: right;
    padding: 0;
    padding: 10px 5px;
    a {
      color: white;
      text-decoration: none;
      padding: 7px 20px;
      font-weight: 500;
      font-size: 0.9rem;
      text-transform: uppercase;
      transition: background 0.3s ease-in-out;
      &:hover{
        background: $burgundyHover;
        text-decoration: none;
        border-radius: 5px;
        color: white;
      }
    }
  }
}
